html {
  height: 100%;
}

body {
  font-size: 20px;
  background: #616161;
  min-height: 100%;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

#chat-icons, #chat-groups {
  background-color: #9E9E9E;
  box-shadow: 5px 0px 10px #BDBDBD;
  margin-right: 5px;
  text-align: center;
  height: 100vh;
  padding: 0px;
  color: #FFF;
}

i {
  padding: 9px;
  border-radius: 50px;
  color: #FFF;
  background: none;
}

.sidebar-icon {
  margin: 10px 0px;
  padding: 5px 0px;
  width: 100%;
}

.sidebar-icon:hover {
  background: #BDBDBD;
}

#chat-icons .sidebar-icon .chat-icon {
  background: none;
  height: 45px;
  width: 45px;
}

.chat-group-details {
  text-align: left;
  padding: 10px 20px;
}

.chat-group-details:hover {
  background: #BDBDBD;
}

.user-profile-picture {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  margin-right: 20px
}

#chat-messages {
  background: #F5F5F5;
  padding: 0px;
}

#user-info {
  box-shadow: 0px 5px 10px #BDBDBD;
  height: 8vh;
  min-height: 8vh;
  margin: 10px;
}

#user-info .user-profile-picture {
  margin: 10px 20px;
}

#user-info #search-form {
  margin: 10px 20px;
  border-radius: 20px;
  padding-left: 10px;
  background: #FFF;
}

#user-info #search-form input {
  background: none;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  top: 4px;
}

#user-info #search-form .form-search-icon {
  color: #757575;
  top: 18px;
}

#message-container {
  height: 60vh;
  min-height: 60vh;
}

#send-message-form {
  height: 12vh;
  min-height: 12vh;
}

.message-me, .message-other {
  margin: 15px;
}

.message-me .user-profile-picture, .message-other .user-profile-picture {
  margin: 5px 5px;
}

.message-me {
  box-shadow: 0px 5px 10px #BDBDBD;
  background-color: #E0E0E0;
  height: auto;
  min-height: 6vh;
  margin: 10px;
}

.message-other {
  text-align: right;
}

.message-other {
  box-shadow: 0px 5px 10px #BDBDBD;
  background-color: #BBDEFB;
  height: auto;
  min-height: 6vh;
  margin: 10px;
}

.message-content {
  text-align: justify;
  width: 80%;
}